.Notification {
  position: fixed;
  right: 15px;
  bottom: 15px;
  max-width: 250px;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  text-align: left;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
}

.info {
  color: #fff;
  background-color: #3392bd;
}

.error {
  color: #fff;
  background-color: #d1262f;
}
