$colors: (
  primary: #ebebeb,
  primaryBackgroundColor: #494949,
  info: #1fa6bb,
  infoBackgroundColor: #fff,
  success: #2e9d48,
  successBackgroundColor: #fff,
  warning: #efb60c,
  warningBackgroundColor: #272c30,
  error: #cf3746,
  errorBackgroundColor: #fff,
);
